.wrapper{
    color: #fff;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    padding: 2rem;
    gap: 2rem;
    max-width: 2000px;
    margin: 0 auto;
}

.chats{
    transition: .5s;
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    border-radius: 25px;
    padding: 1.5rem;
    max-width: 34%;
    min-width: 350px;
    overflow: hidden;
}

.info{
    display: flex;
    align-items: center;
    padding: 0 5rem;
    gap: 1rem;
    color: #848484;
    margin: auto;
}

.info .icon{
    height: 2.2rem;
    width: auto;
}

.info a, .noChats span{
    color: #256eff;
    text-decoration: underline;
}

.usersOffline{
    color: #848484;
    margin: 2rem 0;
    text-align: center;
}

.usersOffline .icon{
    height: 5rem;
}

.noChats{
    color: #848484;
}

.chatsHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.chatsHeader h1{
    margin: 0;
    font-weight: 600;
}

.chats input{
    margin: 2rem 0;
    background-color: #242424;
    color: white;
}

.cards{
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    height: calc(100% - 170px);
    overflow: auto;
}

.chatHeader .flex{
    display: flex;
    align-items: center;
    gap: 1.2rem;
}

.chatHeader .backIcon{
    display: none;
}

.icon{
    font-size: 24px;
}

.chat{
    flex: 2;
    display: flex;
    flex-direction: column;
}

.chatHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    background-color: #161616;
    border-radius: 25px;
    color: #7D7D7D;
}

.name{
    font-size: 22px; 
}

.chatBody{
    flex-grow: 1;
    display: flex;
    flex-direction: column-reverse;
    overflow: auto;
}

/* .chatBody > :first-child {
    margin-top: auto !important;
} */

.chatFooter{
    display: flex;
    gap: 1.2rem;
    margin-top: 5px;
}

.chatFooter div{
    flex: 95%;
}

.chatFooter input{
    background-color: #161616;
    color: white;
}

.chatFooter button{
   flex: 5%;
   min-width: 60px;
}

@media only screen and (max-width: 1000px) {

    .wrapper{
        padding: 0;
    }

    #Chats .chat{
        display: none;
    }

    #Chat .chats{
        display: none;
    }

    .chatHeader .backIcon{
        display: block;
    }

    #Chats{
        background-color: #161616;
    }

    .chat{
        padding: 2rem;
    }

    .chats{
        max-width: 100%;
        border-radius: 0;
        padding: 3rem;
    }
}

@media only screen and (max-width: 500px) {
    .wrapper{
        padding: 0;
    }

    .chat{
        padding: .5rem;
    }
    
    .chats{
        padding: 2rem;
    }

    .chatHeader{
        padding: 1.2rem;
        border-radius: 20px;
    }

    .chatHeader{
        font-size: 14px;
    }

    .chatHeader .name{
        font-size: 18px;
    }

    .chatFooter{
        gap: .7rem;
    }

    .chatFooter button, .chatFooter input{
        padding: 1rem;
    }
}



/* A teljes scrollbar konténer */
::-webkit-scrollbar {
    width: 5px; /* A scrollbar szélessége */
    height: 5px; /* A scrollbar magassága vízszintes scrollbar esetén */
  }
  
  /* A scrollbar sín (háttér) */
  ::-webkit-scrollbar-track {
    background-color: transparent;
  }
  
  /* A scrollbar fogantyúja (ami mozog) */
  ::-webkit-scrollbar-thumb {
    background: #666666; 
    border-radius: 10px; 
  }
  
  /* A scrollbar fogantyúja hover állapotban */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
