.card{
    background-color: #484848;
    padding: 1.2rem 2rem;
    display: flex;
    flex-direction: column;
    border-radius: 25px;
    box-sizing: border-box;
    cursor: pointer;
}

.card .name{
    font-weight: 600;
}

.card .message{
    color: #BFBFBF;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.new .message{
    font-weight: bolder;
}

.new .dot{
    padding: .5rem;
    background-color: #1760F2;
    border-radius: 50%;
}

.active{
    background-color: #1760F2;
}

